html, body, #root {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex: 1;
  background-color: #f7f7f7;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.CalendarDay__selected_span {
  background: #82e0aa;
  color: white;
  border: 1px solid #7d60ff;
}

.CalendarDay__selected {
  background: #7d60ff;
  color: white;
  border-radius: 5px;
}

.CalendarDay__selected:hover {
  background: orange;
  color: white;
}

.CalendarDay__hovered_span:hover, .CalendarDay__hovered_span {
  background: brown;
}

.CalendarDay__default {
  border: none;
}

.DayPickerNavigation_button__default {
  border: none;
}

.DayPickerNavigation_button__default:focus, .DayPickerNavigation_button__default:hover {
  border: none;
}

.CalendarDay__default:hover {
  background-color: rgba(124, 96, 255, .5);
  color: white;
  border: none;
  border-radius: 5px;
}

.CalendarMonthGrid__horizontal {
  width: auto !important;
}

.DayPicker__withBorder {
  box-shadow: none;
  height:350px;
}
*:focus{
  outline: none;
}